[build]
  publish = "dist"
  command = "bun run build"

[[headers]]
  for = "/assets/*"
  [headers.values]
  Content-Type = "application/javascript; charset=utf-8"


# So CSS in /assets/ is served as text/css
[[headers]]
  for = "/assets/*.css"
  [headers.values]
  Content-Type = "text/css; charset=utf-8"

